{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MythTV{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vendor/pico.min.css' %}">
    <script src="{% static 'vendor/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <nav class="container">
        <ul>
            <li><strong>MythTV</strong></li>
        </ul>
        <ul>
            <li><a href="{% url 'home' %}" {% if request.resolver_match.url_name == 'home' %}aria-current="page"{% endif %}>Home</a></li>
            <li><a href="{% url 'upcoming' %}" {% if request.resolver_match.url_name == 'upcoming' %}aria-current="page"{% endif %} >Upcoming</a></li>
            <li><a href="{% url 'list-recordings' %}" {% if request.resolver_match.url_name == 'list-recordings' %}aria-current="page"{% endif %}>Recordings</a></li>
        </ul>
    </nav>

    <main class="container">
        {% block header %}{% endblock %}
        {% block search %}
           {% include "recordings/partials/guide_search_form.html" %}
        {% endblock %}

        {% block content %}{% endblock %}
    </main>

    <footer class="container">
        <small>numythweb • 2026</small>
    </footer>

</body>
</html>
