<article>
    <form role="search" class="guide-search" method="GET" action="{% url 'guide-search' %}">
        <fieldset role="group">
            <input name="q" type="search" placeholder="Search program guide data" value="{{ query }}">
            <select name="search-filter" id="search-filter" aria-label="Search field" required>
              <option {% if search_filter == 'Keyword' %}selected{% endif %}>Keyword</option>
              <option {% if search_filter == 'Title' %}selected{% endif %}>Title</option>
              <option {% if search_filter == 'Category' %}selected{% endif %}>Category</option>
              <option {% if search_filter == 'Person' %}selected{% endif %}>Person</option>
            </select>
            <input type="submit" value="Search">
        </fieldset>

        <details>
            <summary>Filters:</summary>
             <fieldset role="group">
            <!--<input name="channel_id" type="text" placeholder="Filter by channel" value="{{ channel_id }}">-->
            <input name="channel_id" type="text" list="channel-list" placeholder="Filter by channel"
                oninput="updateChannelName(this.value)">
            <input type="text"
                       id="channel-name"
                       placeholder="Channel Name"
                       readonly >
            <script type="text"
            {# json version of channel list #}
            {{ CHANNELS_DICT|json_script:"channel-data" }}
            <script type="text/javascript">
                // Load the data once from the script tag
                const channelLookup = JSON.parse(document.getElementById('channel-data').textContent);
                const channel_display_el = document.getElementById('channel-name');
                  function updateChannelName(val) {
                    // Direct lookup: if val exists in dict, show it, otherwise clear it
                    channel_display_el.value = channelLookup[val] || "";
                }
            </script>
            <datalist id="channel-list">
                {% for channel_id, channel_label in CHANNELS_DICT.items %}
                    <option value="{{ channel_id }}">{{ channel_label }}</option>
                {% endfor %}
            </datalist>

                {# uncomment when supported #}
                <!--
            <label>
                <input name="new-only" type="checkbox" role="switch" />
                New programs only
                </label> -->
             </fieldset>
        </details>

    </form>
</article>
