<div class="record-control">
    {% with start_timestr=program.start_time|date:"Ymdhs" %}
    {% with loading_id="loading-"|add:program.channel.CallSign|add:"-"|add:start_timestr %}
    <form hx-post="{% url 'schedule-recording' %}" hx-swap="outerHTML" hx-indicator="#{{ loading_id }}">
        <mark class="status-badge {{ prog.status_code_class }}">
            {{ program.status_display }}
        </mark>
        {% if program.recording.EncoderName %}
        <mark>
            {{ prog.recording.EncoderName }}
        </mark>
        {% endif %}


        {% csrf_token %}
        <input type="hidden" name="chan_id" value="{{ program.channel.ChanId }}"
            hx-indicator="#loading-{{ program.channel.ChanId }}">
        <input type="hidden" name="start_time" value="{{ program.raw_start_time }}">
        {# pass record id if set; only available for scheduled recordings #}
        <input type="hidden" name="record_id" value="{{ program.recording.RecordId }}">

        {% if program.status_display == "Will Record" or program.status_display == "Recording" %}
            <button type="submit" name="record_type" value="cancel" class="cancel">
                Cancel
            </button>
        {% elif program.status_display == "Previous Recording" %}
        {# currently nothing; maybe add forget old / record anyway #}
        {% else %}
            <div>Record:
                <button type="submit" name="record_type" value="one">
                    One
                </button>
                <button type="submit" name="record_type" value="all" class="contrast">
                    All
                </button>
            </div>
        {% endif %}
        <span id="{{ loading_id }}" class="htmx-indicator" aria-busy="true">Updating...</span>
    </form>
    {% endwith %}{% endwith %}
</div>
