 {% load humanize %}
 {# display a single program row in a table #}
 {# display each unique date once #}
 {% with prog.start_time|naturalday:"l, F j"|title as date_label %}
 {% ifchanged date_label %} {# update based on current timezone change, not UTC #}
 {# Close previous body if not first, then open new one for a new day #}
 {% if not forloop.first %}</tbody>{% endif %}
 <thead>
 <tr class="date-header">
     <td colspan="4">
         {{ date_label }}
     </td>
 </tr>
 </thead>
 <tbody>
 {% endifchanged %}
 {% endwith %}

 <tr class="recording" data-category="{{ prog.category_code }}"
     {% if prog.recording.RecordId %}id="recording-{{ prog.recording.RecordId }}"{% endif %}>
     <td class="time">
         <div class="time">{{ prog.start_time|date:"g:i A" }}</div>
         <div class="duration"><small>{{ prog.end_time|timeuntil:prog.start_time }}</small> </div> {# duration #}
         {% if prog.filesize %} {# file size for recorded programs #}
         <div class="file_size"><small>{{ prog.filesize|filesizeformat }}</small></div> {# file size #}
         {% endif %}
     </td>
     <td class="program-info" >
         <strong>{{ prog.title }}
             {% if prog.air_date and prog.air_date|date:"Y" != prog.start_time|date:"Y" %}
             <small>({{ prog.air_date|date:"Y" }})</small>
             {% endif %}
         </strong><br>
         <small>{% if prog.season and prog.episode %}
             {{ prog.season }}x{{ prog.episode }}. {% endif %}
             {{ prog.subtitle|default:"" }}</small>

         {% if prog.description %}
         <aside style="color: var(--pico-secondary); margin-top: 0.5rem; margin-bottom: 0; max-width: 600px;">
             <small>
                 {{ prog.description }}
             </small>

             {% if prog.cast.CastMembers %}
             <details class="program-cast">
                 <summary>Cast</summary>
                 {% regroup prog.cast.CastMembers by TranslatedRole as cast_list %}
                 <ul>
                 {% for role in cast_list %}
                     <li><b>{{ role.grouper }}:</b>
                         {% for person in role.list %}
                           {{ person.Name }}{% if not forloop.last %}, {% endif %} {# may have CharacterName #}
                         {% endfor %}
                     </li>
                 {% endfor %}
                 </ul>
            {% endif %}

             </details>
         </aside>
         {% endif %}
     </td>
     <td class="channel">
         <a role="button" class="secondary" href="{% url 'guide-search' %}?channel_id={{ prog.channel.ChanId }}">{{ prog.channel.CallSign|default:"-" }}</a>
     </td>
     <td class="status">
         {% include "recordings/partials/program_record_status.html" with program=prog %}
     </td>
 </tr>
