 {% load humanize %}
 {# display a single program row in a table #}
 {# display each unique date once #}
 {% with prog.start_time|naturalday:"l, F j"|title as date_label %}
 {% ifchanged date_label %} {# update based on current timezone change, not UTC #}
 {# Close previous body if not first, then open new one for a new day #}
 {% if not forloop.first %}</tbody>{% endif %}
 <thead>
 <tr class="date-header">
     <td colspan="4">
         {{ date_label }}
     </td>
 </tr>
 </thead>
 <tbody>
 {% endifchanged %}
 {% endwith %}

 <tr class="recording" data-category="{{ prog.category_code }}">
     <td class="time">
         <div class="time">{{ prog.start_time|date:"g:i A" }}</div>
         <div class="duration"><small>{{ prog.end_time|timeuntil:prog.start_time }}</small> </div> {# duration #}
     </td>
     <td class="program-info" >
         <strong>{{ prog.title }}</strong><br>
         <small>{% if prog.season and prog.episode %}
             {{ prog.season }}x{{ prog.episode }}. {% endif %}
             {{ prog.subtitle|default:"" }}</small>

         {% if prog.description %}
         <aside style="color: var(--pico-secondary); margin-top: 0.5rem; margin-bottom: 0; max-width: 600px;">
             <small>
                 {{ prog.description }}
             </small>
         </aside>
         {% endif %}
     </td>
     <td class="channel">
         <mark>{{ prog.channel.CallSign }}</mark>
     </td>
     <td class="status">
         <mark class="status-badge {{ prog.status_code_class }}">
              {{ prog.status_display }}
         </mark>
         {% if prog.recording.EncoderName %}
         <mark>
             {{ prog.recording.EncoderName }}
         </mark>
         {% endif %}
     </td>
 </tr>
