/* Typography & Layout for the whole site */
:root {
    --nav-height: 80px;
}

/* make date header sticky when scrolling */
.date-header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.date-header td {
    background-color: var(--pico-secondary-background);
    color: var(--pico-primary);
    font-weight: 700;
}

mark {
    border-radius: 4px;
}

/* recording status */
.status mark {
    padding: 2px 8px;
    font-size: 0.75rem;
    white-space: nowrap;
    display: inline-block;
}
td.status {
    max-width: 6em;
}

.status-recording { background-color: var(--pico-ins-color); }
.status-conflict  { background-color: var(--pico-del-color); }
.status-default   {
    background-color: var(--pico-secondary-background);
    color: var(--pico-color);
}

 td.time {
     white-space: nowrap;
 }

table.upcoming-recordings td {
    vertical-align: top;
}

tr.recording {
    position: relative;
}
/*
tr.recording::after {
    font-size: 1.2rem;
    display: inline-block;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Map category codes to Emojis using attribute selectors */
/*
tr.recording[data-category="movie"]::after { content: "🎬"; }
tr.recording[data-category="sports"]::after { content: "🏈"; }
tr.recording[data-category="news"]::after  { content: "📰"; }
tr.recording[data-category="animals"]::after  { content: "🦁"; }
tr.recording[data-category="sitcom"]::after { content: "📺"; } */
/*tr.recording[data-category="animated"]::before  { content: ""; }*/


/* for mobile, display upcoming recordings as cards */
@media (max-width: 600px) {
    /* Hide column labels, NOT the date header */
    thead.col-headers {
        display: none;
    }
    /* Transform the row into a Grid Card */
    tr.recording {
        display: grid !important;
        grid-template-areas:
            "time    time"
            "title   title"
            "channel status";
        grid-template-columns: 1fr auto;
        gap: 0.5rem;

        margin-bottom: 1.5rem;
        padding: 1rem;
        border: 1px solid var(--pico-muted-border-color);
        border-radius: 12px;
        background: var(--pico-card-background-color) !important;
    }
    tr.recording td {
        border: none;
        padding: 0;
        background-color: transparent !important; /* override striping */
    }

    /* position elements using grid areas */
    td.time {
        grid-area: time;
        width: 100%;
    }
    div.time  {
        display: inline-block;
        width: 50%;
        text-align: left;
    }
    .duration {
        display: inline-block;
        width: 50%;
        text-align: right;
    }

    td.channel {
        grid-area: channel;
        text-align: right;
    }
    td.status {
        grid-area: status;
        text-align: right;
        max-width: auto;
    }

    td.program-info {
        grid-area: title;
    }
}


form.guide-search select[name='search-filter'] {
    max-width: 10em;
}
form.guide-search input[type='submit'] {
    max-width: 10em;
}

/* for mobile, wrap the horizontal search form on multiple lines */
@media (max-width: 600px) {

    .guide-search [role="group"] {
        flex-wrap: wrap;
    }

    .guide-search [role="group"] > * {
        /* restore spacing & rounded corners removed in groups */
        margin-bottom: var(--pico-spacing) !important;
    }
    .guide-search [role="group"] > input[type=search] {
        border-radius: var(--pico-border-radius) !important;
     }
}
